<div class="container">
  <h1 class="title">Faça seu login</h1>

  <form (ngSubmit)="login()">
    <div class="container-input">
      <input
        placeholder="Nome do usuário"
        [(ngModel)]="usuario"
        name="usuario"
        #campoUsuario="ngModel"
        required
      />
      <app-mensagem
        *ngIf="campoUsuario.invalid"
        mensagem="Usuário obrigatório!"
      >
      </app-mensagem>
    </div>

    <div class="container-input">
      <input
        type="password"
        placeholder="Senha"
        [(ngModel)]="senha"
        name="senha"
        #campoSenha="ngModel"
        required
      />
      <app-mensagem
        *ngIf="campoSenha.invalid"
        mensagem="Senha obrigatória!"
      ></app-mensagem>
    </div>

    <button type="submit" class="">Login</button>
  </form>
</div>
