<div class="container">
  <img src="assets/img/logo.svg" alt="Imagem da logo" />

  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="container-input">
      <app-mensagem
        *ngIf="campoUsuario.invalid && campoUsuario.touched"
        mensagem="Usuário obrigatório!"
      >
      </app-mensagem>
      <input
        placeholder="Nome do usuário"
        [(ngModel)]="usuario"
        name="usuario"
        #campoUsuario="ngModel"
        required
      />
    </div>

    <div class="container-input">
      <app-mensagem
        *ngIf="campoSenha.invalid && campoSenha.touched"
        mensagem="Senha obrigatória!"
      ></app-mensagem>
      <input
        type="password"
        placeholder="Senha"
        [(ngModel)]="senha"
        name="senha"
        #campoSenha="ngModel"
        required
      />
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
