<div class="container">
  <h1 class="title">Faça seu login</h1>

  <form (ngSubmit)="login()">
    <div class="container-input">
      <input
        class=""
        placeholder="Nome do usuário"
        [(ngModel)]="usuario"
        name="usuario"
      />
    </div>

    <div class="">
      <input
        type="password"
        class=""
        placeholder="Senha"
        [(ngModel)]="senha"
        name="senha"
      />
    </div>

    <button type="submit" class="">Login</button>
  </form>
</div>
