.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.containerImg {
  flex: 1;
  display: flex;
  justify-content: center;
}

img {
  width: 50%;
  height: 100%;
}

.login {
  flex: 1;
}
