<header>
  <nav>
    <img
      class="logo"
      src="../../../assets/img/logo-outline.svg"
      alt="Logo do gatito book"
    />
    <div *ngIf="user$ | async as user">
      <div class="user" *ngIf="user.name; else login">
        <a class="user-name">Olá, {{ user.name }}</a>
        <a (click)="logout()"
          ><img
            src="../../../assets/img/logout.png"
            alt="icon para sair do app"
        /></a>
      </div>
    </div>
  </nav>

  <ng-template #login>
    <span>
      <a class="login-container" [routerLink]="['']"
        ><img
          class="user-login"
          src="../../../assets/img/user-login.svg"
        />Login</a
      >
    </span>
  </ng-template>
</header>
