<header>
  <nav>
    <img src="../../../assets/img/logo-outline.svg" />
    <div *ngIf="user$ | async as user">
      <div *ngIf="user.name; else login">
        <i></i>
        <a>{{ user.name }}</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>

  <ng-template #login>
    <span>
      <a class="login-container" [routerLink]="['']"
        ><img
          class="user-login"
          src="../../../assets/img/user-login.svg"
        />Login</a
      >
    </span>
  </ng-template>
</header>
