.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

form {
  width: 70%;
  text-align: center;
}

.container-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  height: 60px;
  border: 2px solid #174f68;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

/* app-mensagem {
  width: 70%;
  padding-left: 10px;
  text-align: start;
  color: #ff0000;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
} */

.link {
  display: flex;
  justify-content: end;
}

p {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #00b0ff;
}

button {
  width: 30%;
  height: 60px;
  border-radius: 60px;
  border: none;
  background-color: #00b0ff;
  color: #fff;
  font-size: 18px;
  margin-top: 50px;
}

button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #00b0ff;
  border: 2px solid #00b0ff;
}
