<div class="container">
  <h4 class="titulo">Registre-se e mostre seu pet ao mundo!!</h4>

  <form>
    <div>
      <input placeholder="Digite seu e-mail" />
    </div>

    <div>
      <input placeholder="Digite seu nome completo" />
    </div>

    <div>
      <input placeholder="Digite seu nome de usuário" />
    </div>

    <div>
      <input placeholder="Digite sua senha" type="password" />
    </div>
    <div class="link">
      <p>Já possui uma conta ? <a [routerLink]="['']">Faça login</a></p>
    </div>
    <button>Cadastro</button>
  </form>
</div>
