<div class="container">
  <h4 class="titulo">Registre-se e mostre seu pet ao mundo!!</h4>

  <form [formGroup]="newUserForm" (submit)="cadastrar()">
    <div>
      <app-mensagem
        mensagem="Email obrigatório"
        *ngIf="
          newUserForm.get('email')?.errors?.['required'] &&
          newUserForm.get('email')?.touched
        "
      ></app-mensagem>
      <app-mensagem
        mensagem="Email com formato incorreto"
        *ngIf="
          newUserForm.get('email')?.errors?.['email'] &&
          newUserForm.get('email')?.touched
        "
      ></app-mensagem>
      <input placeholder="Digite seu e-mail" formControlName="email" />
    </div>

    <div>
      <app-mensagem
        mensagem="Nome incorreto"
        *ngIf="
          newUserForm.get('fullName')?.errors &&
          newUserForm.get('fullName')?.touched
        "
      ></app-mensagem>
      <input
        placeholder="Digite seu nome completo"
        formControlName="fullName"
      />
    </div>

    <div>
      <input
        placeholder="Digite seu nome de usuário"
        formControlName="userName"
      />
    </div>

    <div>
      <input
        placeholder="Digite sua senha"
        type="password"
        formControlName="password"
      />
    </div>
    <div class="link">
      <p>Já possui uma conta ? <a [routerLink]="['']">Faça login</a></p>
    </div>
    <button>Cadastro</button>
  </form>
</div>
